@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');


body{
  min-height: 100vh;
  color: black;
  cursor: url(kepek/simacica.cur), auto;
}

#szinek{
    position: fixed;
    min-height: 100%;
    width: 100%;
    z-index: -1;
}

.hatterszin{
    height: 100%;
    width: inherit;
    position:absolute;
    transition:opacity 0.5s linear;
    z-index: -1;
}


#kockashatter{
    height: 100%;
    width: 100%;
    background: url(kepek/kockaspng.png) center;
    background-size: 30%;
    background-position: fixed;
    position: fixed;
}

#nagy{
    height: 100%;
    width: 100%;
    transition: opacity 1s;
}


#tartalom{
    min-height: inherit;
    width: inherit;
    padding: 5rem 10rem 2rem;
    transition: opacity 1s;
    position: relative;
    overflow-x: hidden;
}

.scroll{
  height: 50vh;
  width: 100vw;
  z-index: 98;
  position:absolute;
  left: 0;
}

.kezdes{
  height: 100vh;
}
#scroll_le{
  bottom: 0; 
}
#scroll_fel{
  top: 0;
}


.kezdooldaldiv{
    position: absolute;
    top: 15rem;
    text-align: center;
    color: white;
    font-size: x-large;
    width: inherit;
}

.cimkep{
    height: 19rem;
    display: block;
    background: url(kepek/holdascica.png) center;
    background-size: cover;
    color: black;
    margin: auto;
    border: 5px var(--border_green) solid;
    border-radius: 10rem;
    box-shadow: inset black 0px 0px 60px 35px;
}

.cim{
    position: relative;
    top: 25%;
    & span{
        font-weight: bold;
    }
}

.nagycim{
    font-size: 5rem;
    font-family: 'Allison', cursive;
}

.nyil{
  & img{
    height: 4rem;
  }
  & p{
    margin-top: 8rem;
    font-family: 'Times New Roman';
  }
}

a{
  cursor: url(kepek/xcica.cur), auto;
}

.kezdocim{
  font-family: 'Allison', cursive;
  font-size: 3rem;
}

.masodikkezdocim{
  
  font-size: 2rem;
}

.kisszoveg{
  font-family: 'Oregano', cursive;
  font-size: 1.5rem;
}



header{
    height: 12rem;
    background-image: url(kepek/holdascica.png);
    background-size: cover;
    background-position-y:85%;
    box-shadow: 3px 3px 15px 1px black;
    color: white;
    text-align: right;
    padding-right: 10rem;
    line-height: 12rem;
    overflow: hidden;
    z-index: 3;
    position: relative;
    & .nagycim{
        font-size: 6rem;
    }
}



.szoveg{
    background-color: var(--mat_blue);
    border: black solid 3px;
    padding: 1rem;
    text-align: justify;
    font-family: 'Oregano', cursive;
    font-size: 1.5rem;
}

.fooldalsor{
  margin: auto;
  display: flex;
  & img{
      border: black solid 3px;
  }
}

  
/* első jobb textbox keret */
.elsokeret{
  border-top-left-radius: 10%;
  margin-bottom: 5rem;
  margin-right: 5%;
  width: 150rem;
  box-shadow: -2px 3px 18px rgb(0 0 0 / 0.5);
  
}

/* első kép */
.masodikkeret{
  border-top-right-radius: 10%;
  margin-left: 2%;
  margin-bottom: 5rem;
  width: 150rem;
  box-shadow: 0 3px 18px rgb(0 0 0 / 0.5);
  
}

/* második textbox */
.harmadikkeret{
  margin-right: 5%;
  width: 150rem;
  box-shadow: 2px 3px 18px rgb(0 0 0 / 0.5);
}

/* második kép */
.negyedikkeret{
  margin-left: 2%;
  width: 150rem;
  box-shadow: 0 3px 18px rgb(0 0 0 / 0.5);
}

/* harmadik kép */
.ötödikkeret{
  border-bottom-left-radius: 10%;
  margin-right: 2%;
  margin-top: 10%;
  width: 150rem;
  box-shadow: 0 3px 18px rgb(0 0 0 / 0.5);
}

/* harmadik text */
.hatodikkeret{
  border-bottom-right-radius: 10%;
  margin-left: 5%;
  margin-top: 5%;
  width: 150rem;
  box-shadow: 2px 3px 18px rgb(0 0 0 / 0.5);
}




.nav{
    float: left;
    position: fixed;
    top: 35%;
    width: auto;
    z-index: 99;
    background-image: linear-gradient(var(--dark_purple), var(--dark_blue));
    box-shadow: 3px 3px 5px black;
    border-radius: 0 25px 25px 0px;

      & ul{
        padding: 0;
        margin: 0;
      }
      & li{
         list-style-type:none;
         & :hover{
            filter: invert(60%);
            cursor: url(kepek/xcica.cur), auto;
        }
      }
      & img{
        width: 50px;
        margin: 10px;
      }
      & hr{
        margin: auto;
        width: 45px;
        border-width: 3px;
        border-color: black;
        border-radius: 5px;
        opacity: 1;
      }
}



.archivum{
  margin: 0 3rem;
}

.kategoriavalszto{
    background-color: var(--mat_blue);
    width: 91%;
    height: 13rem;
    text-align: center;
    border-radius: 30px 10px 30px 10px;
    padding: 2rem 2rem 1rem;
    margin-bottom: 1.5rem;
    float: left;
    box-shadow:inset 1px 0px 5px black;
    & h5{
            font-family: 'MedievalSharp';
            font-size: 22px;
    }
}

.kategoriasor{
    overflow: auto;
    display: flex;
    z-index: 99;
    position: relative;
    & .kategoriaicon{
        box-shadow: 1px 0.5px 8px black;
        border-radius: 50%;
        width: 6rem;
        cursor: url(kepek/xcica.cur), auto;
        margin-bottom: 0.5rem;
        opacity: 80%;
        &:hover{
          opacity: 100% !important;
          }
      }  
}

  .nezetvalaszto{
    float: right;
    width: 8%;
    height: 13rem;
    background-color: var(--mat_blue);
    border-radius: 30px 10px 30px 10px;
    box-shadow: inset 1px 0.5px 8px black;
  }

  .nezeticon{
    height: 6.5rem;
    & img{
        width: 4.5rem;
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        position: relative;
        &:hover{
            filter: invert(70%);
            cursor: url(kepek/xcica.cur), auto;
        }
    }
  }

.szepbetu{
  font-family: 'MedievalSharp';font-size: 22px;
}

.allatkafejlec{
    background-color: var(--mat_blue);
    border-radius: 0.5rem;
    width: 100%;
    height: 3rem;
    margin: 0.5rem 0 1rem !important;
    border: 3px black solid;
    
    & p{
      font-weight: bold;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size:x-large;
    }
    & .col{
      text-align: center;
      }
    & .col-3{
        text-align: left;
      }
  }

  .listaelem{
    background-color: var(--mat_blue);
    border: 3px black solid;
    border-radius: 2rem 1rem 1rem 2rem;
    width: 100%;
    height: 6rem;
    margin: 0.5rem 0 1rem !important;

    & .col{
      text-align: center;
  
      & p{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
  
      & img{
        height: 80px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 2px;
        border-radius: 15px;
        z-index: 99;
      }
  
      & .listaelem_btn{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border: 0.5px black solid;
        box-shadow:inset 0.3px 0px 3px black;
      }
       
      & h4{
        font-family: 'MedievalSharp';
        font-weight: bold;
        font-size: 25px;
        text-align: left;
        text-decoration: underline;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
  
    }
  }
  
  .listakep {
    position: relative;
    display:block;
  }
  
  .listakep .nagylistakep {
    visibility: hidden;
    height: 300%;
    text-align: center;
    bottom: 100%;
    left: 50%;
    margin-left: -110%;
    opacity: 0;
    transition: opacity 0.7s;
    position: absolute;
    z-index: 99;
  
    & img{
      height: 100%;
      margin: 0;
      border: black 3px solid;
      border-radius: 1.5rem;
    }
  }
  
  .listakep:hover .nagylistakep {
    visibility: visible;
    opacity: 1;
  }
  
  .listakep .nagylistakep::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:black transparent transparent transparent ;
  }

.card{
    background-color: var(--mat_blue) !important;
    border: 4px black solid !important;
    border-radius: 20px !important;
    margin-bottom: 1rem;
    & img{
      width: 80%;
      margin: auto;
      border: 4px solid black;
      border-radius: 15px;
      }
    & hr{
        border: 1.7px black solid ;
        border-radius: 10px;
        opacity: 1;
        width: 65%;
        margin: auto;
        margin-bottom: 15px;
      }
    & p {
      font-size: large;
      font-weight:600;
    }
    .card_gomb {
      width: 80%;
      margin: 1rem auto 2rem;
      border-radius: 20px;
      box-shadow:inset 1px 1px 8px black;
    }
  }
  
  .card-title{
    padding: 20px 0px 12px;
    font-weight: bold;
    font-family: 'MedievalSharp';
    text-align: center;
  }
  
  .card-body{
    height: 35rem;
    overflow-y: auto;
    padding: 2rem !important;

    & ul{
      padding: 0px;
      margin: 0px;
    }

    & li{
      list-style-type: none;
      text-align: left;
      font-weight:600;
    }
     
  }

  #stat{
    font-weight: bold;
  }
  .ertek{
    float: right;
  }

  .card-body::-webkit-scrollbar, .kategoriasor::-webkit-scrollbar, .kockatarto::-webkit-scrollbar{
    width: 5px;
    height: 10px;
  }
  
  .card-body::-webkit-scrollbar-thumb, .kategoriasor::-webkit-scrollbar-thumb, .kockatarto::-webkit-scrollbar-thumb{
    background: var(--turquoise);
    border-radius: 10px;
  }
  
  .card-body::-webkit-scrollbar-track, .kategoriasor::-webkit-scrollbar-track, .kockatarto::-webkit-scrollbar-track{
    box-shadow: inset 0.5px 0.5px 2px black;
    border-radius: 10px;
    margin-right: 18px;
  }

  .balhegyes{
    border-radius: 0 30px 0px 30px;
  }

  .jobbhegyes{
    border-radius: 30px 0 30px 0;
  }

.btn{
  background-color: var(--button_green) !important;
  z-index: 99;
      &:hover{
          background-color: var(--button_turquoise) !important;
          cursor: url(kepek/xcica.cur), auto;
          box-shadow: inset 0 0 0 !important;
          box-shadow: 1px 1px 7px black !important;
      }
}

  .rolunk{
    width: 80%;
    margin: auto;
    & .col{
      text-align: center;
      color: white;
    }
    & .szoveg{
      padding: 1rem 3rem;
      margin-bottom: 4rem;
      box-shadow: 1.5px 1.5px 5px black;
      & h3{
        text-decoration: underline;
      }
    }

  }

  .nevunk{
    font-family: 'Oregano', cursive;
  }

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    z-index: 99;
    position: relative;
  }
  
  .flip-card-belso {
    position:relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-belso {
    transform: rotateY(180deg);
  }
  
  .flip-card-eleje, .flip-card-hatlap {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: 3px 3px 5px black;
  }
  
  .flip-card-img{
    width:250px;
    height:250px;
    border-radius: 2rem;
  }
  
  .flip-card-hatlap {
    background-color: var(--mat_blue);
    transform: rotateY(180deg);
  }
  
  .flip-card-hatlap-belso{
    position: relative;
    top: 50%; transform:
    translateY(-50%);
  }

.kockas{
  width: 85%;
  margin: auto;
  & .szoveg{
    padding: 2rem 3rem;
    box-shadow: 1.5px 1.5px 5px black;
    margin-bottom: 3rem;
    & h3{
      text-decoration: underline;
    }
  }
}

.kockatarto{
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  margin-bottom: 1rem !important;
}

.kocka{
  position: relative;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  & img{
    width: 5rem;
  }
}

.kockaszam{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'MedievalSharp';
  font-size: 20px;
}

.kockagomb{
  display: block !important;
  margin: auto;
  width: 20rem;
  border-radius: 20px !important;
  border: 2px solid black !important;
  box-shadow:inset 1px 1px 8px black;
}


.carousel{
  margin-top: 8rem;
  background-color: var(--mat_blue);
  height: 35rem;
  border: 3px solid black;
  border-radius: 35px;
  z-index: 99;
  position: relative;
}


.kockakepdiv{
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-left: 6rem !important;
  height: 35rem;
            
}

.peldakocka{
    border-radius: 10px !important;
    width: 22rem;
    box-shadow: 2px 5px 15px black;           
}

.kockaleiras{
  margin: 4rem 7rem 4rem 4rem;
  padding: 1rem;
  height: 25rem;
  border-radius: 20px;
  box-shadow: inset 1px 1px 20px; 
  overflow: hidden;
  & h3{
    text-decoration: underline;
    font-family: 'MedievalSharp';
  }
}


.setnev{
  text-align: center;

  & a:link, a:hover, a:visited, a:active{
    color: black;
  }

}

.carousel-control-prev,
.carousel-control-next,
.alsogomb{
  filter: invert(100%);
  cursor: url(kepek/xcica.cur), auto !important;
}

.carousel-control-prev{
  transform: translateX(-35%);
}
.carousel-control-next{
  transform: translateX(35%);
}

.classtortenet,
.classstatok{
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Times New Roman';
  font-size: larger;
  cursor: url(kepek/xcica.cur), auto;
}

.classtortenet{
  float: left;
}
.classstatok{
  float: right;
}

.classinfo{
  border: 0.5px black solid;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 8px; 
  margin: 0 1.5rem;
  padding: 0.5rem 1.8rem;
  transform: translateY(80%);
  z-index: 99;
  position: relative;
}

.classinfo_aktiv{
  box-shadow: 1px 1px 15px; 
  border-radius: 1rem;
  width: 45%;
  height: 4.5rem;
  transform: translateY(-35%);
  margin: 0 1.5rem;
  left: 0;
  transition: left 0.5s linear;
  position: relative;
}

.classok{
  & hr{
    width: 80%;
    border: 2px black solid;
    border-radius: 2px;
    margin: auto !important;
  }
  & .card{
    margin-bottom: 2rem;
    height: 60rem;
  }
  & p{
    margin-bottom: 0.5rem;
  }
}

.bal_felso_card{
  border-top-left-radius: 4.5rem !important;
}
.jobb_felso_card{
  border-top-right-radius: 4.5rem !important;
}
.bal_also_card{
  border-bottom-left-radius: 4.5rem !important;
}
.jobb_also_card{
  border-bottom-right-radius: 4.5rem !important;
}

.petike{
  position: fixed;
  left: -100%;
  animation: slide 65s infinite;
  bottom: -7.7rem;
  z-index:999;
  width: 300px
}

@keyframes slide {
  0% { left: -130%; }
  100% { left: 130%; }
}

.cicainkcim{
  font-family: 'Oregano', cursive;
  font-size: 5rem;
  margin: 3.5rem 0 1rem;
  text-align: center;
  text-decoration: underline;
  color: whitesmoke;
}

.cicaskepek{
  border: 3px solid black;
  border-radius: 2rem;
  margin-bottom: 1rem;
}